*/15 * * * * /src/updater.sh > /proc/1/fd/1 2>/proc/1/fd/2
*/15 * * * * cd /data/archived; /src/organiser.py -e csv /proc/1/fd/1 2>/proc/1/fd/2
*/15 * * * * cd /data/archived; /src/organiser.py -e TAB /proc/1/fd/1 2>/proc/1/fd/2
